/* Variables de couleur */
:root {
    --bg-color: #fff;
    --text-color: #333;
    --highlight-color: #6cb2eb;
    --btn-text-color: #fff;
    --btn-hover-color: #3298dc;
    --link-color: #6cb2eb;
    --link-hover-color: #3298dc;
  }
  
  [data-theme="light"] {
    --bg-color: #fff;
    --text-color: #333;
    --highlight-color: #6cb2eb;
    --btn-text-color: #fff;
    --btn-hover-color: #3298dc;
    --link-color: #6cb2eb;
    --link-hover-color: #3298dc;
  }
  
  [data-theme="dark"] {
    --bg-color: #333;
    --text-color: #fff;
    --highlight-color: #f0c040;
    --btn-text-color: #333;
    --btn-hover-color: #cca533;
    --link-color: #f0c040;
    --link-hover-color: #cca533;
  }
  
  .projects-section {
    padding: 0px 0;
  }
  
  .projects-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .project-card {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .project-details {
    padding: 20px;
  }
  
  .project-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .project-description {
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .project-links {
    display: flex;
    justify-content: space-between;
  }
  
  .project-link {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .project-link:hover {
    color: var(--link-hover-color);
  }
  
  @media (max-width: 768px) {
    .projects-content {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
  
  @media (max-width: 480px) {
    .projects-content {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
  }
  