/* Variables de couleur */
:root {
    --bg-color: #fff;
    --text-color: #333;
    --highlight-color: #6cb2eb;
    --btn-text-color: #fff;
    --btn-hover-color: #3298dc;
  }
  
  [data-theme="light"] {
    --bg-color: #fff;
    --text-color: #333;
    --highlight-color: #6cb2eb;
    --btn-bg-color: #6cb2eb; /* Blue button in light mode */
    --btn-text-color: #fff;
    --btn-hover-color: #3298dc;
  }
  
  [data-theme="dark"] {
    --bg-color: #333;
    --text-color: #fff;
    --highlight-color: #f0c040;
    --btn-bg-color: #f0c040; /* Yellow button in dark mode */
    --btn-text-color: #333;
    --btn-hover-color: #cca533;
  }
  
  .navbar {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar-logo {
    /* Styles pour le logo si nécessaire */
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-item {
    margin-right: 20px;
  }
  
  .navbar-item a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  .navbar-item a:hover {
    color: var(--highlight-color);
  }
  
  /* Media query pour le dropdown menu */
  @media (max-width: 768px) {
    .navbar-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: var(--bg-color);
      z-index: 999;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
      transform: translateY(-100%);
    }
  
    .navbar-menu.active {
      display: block;
      transform: translateY(0);
    }
  
    .navbar-list {
      flex-direction: column;
      padding: 10px;
    }
  
    .navbar-item {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .navbar-toggle {
      display: block;
      cursor: pointer;
      padding: 10px;
    }
  
    .bar {
      display: block;
      width: 25px;
      height: 3px;
      background-color: var(--text-color);
      margin: 5px 0;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
  
    .navbar-toggle.active .bar:first-child {
      transform: rotate(45deg) translate(5px, 6px);
    }
  
    .navbar-toggle.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .navbar-toggle.active .bar:last-child {
      transform: rotate(-45deg) translate(5px, -6px);
    }
  }
  