.theme-toggle {
    background-color: var(--navbar-hover);
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
  }
  
  .theme-toggle:hover {
    background-color: var(--navbar-text);
  }
  